<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Reviews App</title>
</head>
<body>

    <div class="split left">
        <div class="centered">
            <img src="../static/posters/mv2.jpg" alt="Product Image">
        </div>
    </div>

    <div class="split right">
        <div class="container">
            <h1><b>Movie Review</b></h1>
        </br>
            </div>
            <div class="stats">
                <div class="stat">
                    <span>{{ data.positive }}</span>
                    <span class="stat-label">Positive Sentiments</span>
                </div>
                <div class="stat">
                    <span>{{ data.negative }}</span>
                    <span class="stat-label">Negative Sentiments</span>
                </div>
            </div>

            <form method="post">
                <label for="reviewText">Write a Review</label>
                <textarea id="reviewText" name="text" placeholder="Share your thoughts..."></textarea>
                <input type="submit" value="Submit Review">
            </form>

            <div class="coment-bottom">
                {% for review in data.reviews %}
                    <div class="comment">
                        <div class="comment-text">{{ review }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>
